<!-- <!-- <nav class="navbar  navbar-expand-sm navbar-dark bg-dark p-0  ">
  <div class="container justify-content-center  "> -->

<!-- <a routerLink="/" class="navbar-brand">ControlCliente</a> -->
<!-- <ul class="nav navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#">Cliente</a></li>
    </ul>
    <ul class="nav navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" href="#">Contrato</a></li>
  </ul>
  <ul class="nav navbar-nav mx-auto">
    <li class="nav-item"><a class="nav-link" href="#">Lotes</a></li>
</ul>

<ul class="nav navbar-nav mx-auto">
  <li class="nav-item"><a class="nav-link" href="#">Facturación</a></li>
</ul>

<ul class="nav navbar-nav mx-auto">
  <li class="nav-item"><a class="nav-link" href="#">Traficos</a></li>
</ul> -->


<!-- <div class="mx-auto order-0">
  <a class="navbar-brand mx-auto" href="#">Navbar 2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
      <span class="navbar-toggler-icon"></span>
  </button>
</div> -->

<!-- <a routerLink="/" class="navbar-brand">Cliente</a>
      <a routerLink="/" class="navbar-brand">Contrato</a>
      <a routerLink="/" class="navbar-brand">Lotes</a>
      <a routerLink="/" class="navbar-brand">Facturación</a>
      <a routerLink="/" class="navbar-brand">Traficos</a> -->
<!-- <ul class="nav navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#">Website Name</a></li>
    </ul> -->
<!-- <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button> -->



<!--
      <div class="collapse navbar-collapse" id="navbarCollapse"> -->

<!-- <ul class="navbar-nav">
              <li class="nav-item px-2">
                  <a routerLink="/" class="nav-link">Inicio</a>
              </li>
          </ul> -->

<!--
          <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown mr-3">
                  <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-user">
            Bienvenido
          </i>
                  </a>
                  <div class="dropdown-menu">
                      <a routerLink="/configuracion" class="dropdown-item">
                          <i class="fas fa-cog"></i>Configuracion
                      </a>
                  </div>
              </li>
          </ul> -->



<!--
      </div>


  </div>
</nav> -->


<!-- <nav class="navbar navbar navbar-light navbar-expand-md bg-faded justify-content-center bg-dark">

    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  w-100" id="navbarsExample11">
      <ul class="navbar-nav w-100 justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" style="color: aliceblue;" href="#">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="#">Contrato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="#">Lotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="#">Facturacion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="#">Trafico</a>
        </li>
      </ul>

      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item dropdown mr-3">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user" style="color: aliceblue;">
              Bienvenido
            </i>
          </a>
          <div class="dropdown-menu">
            <a routerLink="/configuracion" class="dropdown-item">
              <i class="fas fa-cog"></i>Configuracion
            </a>
          </div>
        </li>
      </ul>

    </div>

</nav> -->


<nav class="navbar bg-dark navbar-expand-md bg-faded justify-content-center">
  <a href="/" class="navbar-brand d-flex w-50 mr-auto" style="color: aliceblue;">Control</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
      <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item active">
              <a class="nav-link" style="color: aliceblue;" href="#">Cliente</a>
          </li>
          <li class="nav-item">
              <a class="nav-link"style="color: aliceblue;" href="#">Contrato</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: aliceblue;" href="#">Lotes</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color: aliceblue;" href="#">Trafico</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: aliceblue;" href="#">Facturación</a>
      </li>


        </ul>


      <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
        <li class="nav-item dropdown mr-5">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-user" style="color: aliceblue;">
              Bienvenido
            </i>
          </a>
          <div class="dropdown-menu">
            <a routerLink="/configuracion" class="dropdown-item">
              <i class="fas fa-cog"></i>Configuracion
            </a>
          </div>
        </li>


      </ul>
  </div>
</nav>
