<section id="actions" class="py-2 mb-2 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Antecentes Empresa</h4>
        <form>
          <div class="card title"></div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Nombre o Razon Social</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Elber">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Nombre de Fantasia</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="CrewValue">
            </div>

            <div class="form-group col-md-6">
              <label for="inputAddress2">Rut o Run</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="16.764.123-2">
            </div>

            <div class="form-group col-md-6">
              <label for="inputAddress2">Sitio Web</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="www.empresa.cl">
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress2">Tipo de Empresa</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="SPA">
            </div>

          </div>

          <!-- <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">Fecha de Nacimiento</label>
              <input type="text" class="form-control" id="inputCity" placeholder="03/07/1983">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">Sexo</label>
              <select id="inputState" class="form-control">
                <option selected>Masculino</option>

                <option>...</option>
              </select>
            </div>

          </div> -->
          <!-- <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Profesión</label>
              <input type="email" class="form-control" id="inputEmail4" placeholder="Ingeniero">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4">Empresa</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Macheco">
            </div>

            <div class="form-group col-md-6">
              <label for="inputPassword4">Contrato</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Fijo">
            </div>

            <div class="form-group col-md-6">
              <label for="inputPassword4">Nacionalidad</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="Chilena">
            </div>

            <div class="form-group col-md-6">
              <label for="inputPassword4">Inicio de Contrato</label>
              <input type="password" class="form-control" id="inputPassword4" placeholder="20/01/2020">
            </div>
          </div> -->



        </form>
      </div>
    </div>




  </div>





</section>
