<section id="actions" class="py-2 mb-2 bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>Antecedentes de la empresa</h4>
                <form>
                    <div class="card title"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Cliente ID</label>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputPassword4 ">Nombre Completo</label>
                            <input type="password " class="form-control " id="inputPassword4 " placeholder="CrewValue ">
                        </div>

                        <div class="form-group col-md-6 ">
                            <label for="inputAddress2 ">Nombre corto</label>
                            <input type="text " class="form-control " id="inputAddress2 " placeholder="16.764.123-2 ">
                        </div>

                        <div class="form-group col-md-6 ">
                            <label for="inputAddress2 ">Codigo Impuesto</label>
                            <input type="text " class="form-control " id="inputAddress2 " placeholder="www.empresa.cl ">
                        </div>
                        <div class="form-group col-md-6 ">
                            <label for="inputAddress2 ">Sector de Consumo
              </label>
                            <input type="text " class="form-control " id="inputAddress2 " placeholder="SPA ">
                        </div>

                        <div class="form-group col-md-6 ">
                            <label for="inputAddress2 ">Actividad Ciente </label>
                            <input type="text " class="form-control " id="inputAddress2 " placeholder="SPA ">
                        </div>

                        <div class="form-group col-md-6 ">
                            <label for="inputAddress2 ">Website </label>
                            <input type="text " class="form-control " id="inputAddress2 " placeholder="SPA ">
                        </div>

                    </div>





                </form>
            </div>
        </div>




    </div>





</section>