<section id="actions" class="py-2 mb-2 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Contacto Commercial</h4>
        <form>
          <div class="card title"></div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Numero Telefono </label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Alberto kotipelto tolki">
              </div>
              <div class="form-group col-md-6">
                <label for="inputEmail4">Direccion</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="12.343.432-2">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Codigo Postal</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="223434532">
              </div>
              <div class="form-group col-md-6">
                <label for="inputAddress">Ciudad</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="contacto@crewvalue.com">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress2">Region</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="9621342324">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Pais</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Victoria">
            </div>
          </div>
        </form>
      </div>
    </div>




  </div>





</section>
