


<mat-sidenav-container class="sidenav-container ">
  <mat-sidenav #drawer class="sidenav "  fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <app-treeview></app-treeview>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="secundary" class="justify-content-center">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
      <span class="spacer"></span>

        <button type="button" class="btn btn-primary py-2 mr-3 ">Cliente</button>
        <button type="button" class="btn btn-primary py-2 mr-3 ">Contratos</button>
        <button type="button" class="btn btn-primary py-2 mr-3 ">Lotes</button>
        <button type="button" class="btn btn-primary py-2 mr-3 ">Facturacion</button>
        <button type="button" class="btn btn-primary py-2 mr-3 ">Traficos</button>
    </mat-toolbar>
    <app-cliente-tab></app-cliente-tab>

    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
